<div class='openings' style="display: flex; justify-content: space-between;"">
  <div>
    <h4 style="color:rgb(120,120,120)">{{job['title']}}</h4>
    <div><strong>Location:</strong> {{job['location']}}</div>
    {% if 'salary' in job %}
    <div><strong>Salary:</strong> {{job['salary']}}</div>
    {% endif %}
  </div>
  <div style="display: flex; align-items: center;">
    <button class='button''><a href="mailto:amantri10@gmail.com?subject=Job%20Application%20%3A%20{{job['title']}}&body=Hello%20Aman%2C%0D%0A%0D%0AHere%20is%20my%20resume"> Apply</a></button>
  </div>
</div>
<hr>